
:root {
  --title-font:1.5rem;
  --body-font: 1.2rem;
  --border-width:.3rem;
  --margin-html:3rem;
  --border-width:.2rem;
  --small_button_text:1rem;
  --small_button_padding:.6rem;
  --margin-between:2.5rem;
  --box-font:1.25rem;
  --table-font:1rem;
  --form-margin:1rem
  
}
html{
  font-size: 16px;
}
body{
  font-family: "Inter", serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  width: 100vw;
  align-items: center;
  background-color: #655A7C;
 
}

.row_frame_space_between{
  display: flex;
  width: 98vw;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 91.875rem;
}

.row_frame_space_evenly{
  display: flex;
  width: 98vw;
  justify-content: space-evenly;
  flex-wrap: wrap;
  max-width: 91.875rem;
  row-gap: var(--margin-between);
}

.title_text{
  font-size: var(--title-font);
  font-weight: 900;
  color: #D6CA98;
  margin: 0;
}

#username_and_logout{
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: var(--border-width) solid #D6CA98;
  padding-left: 1vw;
  padding-right: 1vw;
}

.small_button{
  font-size: var(--small_button_text);
  padding: var(--small_button_padding);
  font-family: "Inter", serif;
  font-weight: 900;
  border-radius: 3rem;
  border: none;
}

#red_button{
  background-color: red;
  color: white;
  border: none;

}

.title_frame{
  display: flex;
  width: 98vw;
  max-width: 91.875rem;
  margin-top: var(--margin-between);
  margin-bottom: var(--margin-between);
}


.create_send_workout_box,.chart_box{
  width: 20.9rem;
  height: 15rem;
  display: flex;
  border: var(--border-width) solid #D6CA98;
  padding: 1rem;
  border-radius: 1.5rem;
}

.chart_box{
  background-color: #D6CA98;
}
.create_send_workout_box_left{
  width: 10.45rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

}

.create_send_workout_box_right{
  width: 10.45rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.box_title{
  font-size: var(--box-font);
  font-weight: 900;
  color: hsl(48, 43%, 72%);
  text-align: center;
  margin: 0;
}

.box_body{
  font-size: var(--box-font);
  font-weight: 200;
  color: hsl(48, 43%, 72%);
  text-align: center;
  margin: 0;
}

.box_count{
  font-size: var(--title-font);
  font-weight:900;
  color: #655A7C;
  background-color: #D6CA98;
  padding: 1rem;
  border-radius: 50%;
  text-shadow: 0 0 25px #655A7C;
  margin: 0;
}

#tan_button{
  background-color: #D6CA98;
  color: #655A7C;
}

.choose_table_buttons{
  width: 75vw;
  max-width: 46.875rem;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: var(--margin-between);
}

.tables{
  display: flex;
  width: 98vw;
  height: 30rem;

  max-width: 91.875rem;
  margin-bottom: var(--margin-between);
  overflow: scroll;
 
  background-color: #655A7C;
  border-bottom: var(--border-width) solid #D6CA98;
}

table,#workout_table,#exercise_table,#client_table{
 
  width: 100%;
  margin: 0;
 

  border-collapse: collapse;
  font-size: 1rem;
  margin: 0;
  padding: 0;
  background-color: #655A7C;
  overflow: scroll;
  
}
tr{
  width: 98vw;
  max-width: 91.875rem;
  margin: 0;
}

th{
  margin: 0;
  padding: 0;
  text-align: left;
  font-family: "Inter", serif;
  font-weight: 900;
  text-align: center;

  background-color: #D6CA98;
  color:#D6CA98;
  padding: 1rem;
  font-size: var(--table-font);
  background-color: #D6CA98;
  color: #655A7C;
}



td{
  margin: 0;
  padding: 0;
  font-weight: 200;
  text-align: left;

  text-align: center;
  background-color: #D6CA98;
  color: #655A7C;

  font-style: italic;
  max-width: 15ch;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: var(--body-font);
  font-size: var(--table-font);
  border: var(--border-width) solid #D6CA98;
  background-color: #655A7C;
  color: #D6CA98;
  
}

td img{
  width: 2rem;
}
td button{
  background: none;
  border: none;
}

#exercise_table{
  display: none;
}

#workout_table{
  display: none;
}

form{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;

}

input{
  border: none;
  border-bottom: var(--border-width) solid #D6CA98;
  color: #D6CA98;
  background-color: #655A7C;
  font-size: var(--body-font);
}

input::placeholder{
  color: #D6CA98;
  font-style: italic;
  font-weight: 100;
}

.sub_title{
  margin: 0;
  font-size: var(--body-font);
  color: #D6CA98;
  font-weight: 200;
  width: 50vw;
  text-align: center;
}

#margin_top{
  margin-top: var(--margin-between);
}


#add_client{
  display: none;
}

#add_exercise{
  display: none;
}

.exercises_in_create_workout{
  width: 75vw;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: var(--margin-between);
  row-gap: var(--margin-between);

}

.add_icon{
  width: 5rem;
}

#create_client_body{
  gap: var(--margin-between);
}

.purple_button{

  font-size: var(--small_button_text);
  padding: var(--small_button_padding);
  font-family: "Inter", serif;
  font-weight: 900;
 
  border: none;
  background-color: #655A7C;
  border: var(--border-width) solid #D6CA98;
  color: #D6CA98;
  
}

.error{
  color: red;
}

.edit_text{
  color: #D6CA98;
  font-weight: 200;
  text-align: center;
  font-size: var(--body-font);
  margin: 0;
  width: 30vw;
  text-align: center;
}

#ninehundred{
  font-weight: 400;
}

.category{
  font-weight: 900;
  color: #D6CA98;
}



.edit_workout_row p{
  font-size: var(--body-font);
  color: #D6CA98;
  font-weight: 400;
  font-size: var(--body-font);
  text-align: center;
}


#currently_editing{
  font-size: var(--body-font);
  font-weight: 900;
  color: #D6CA98;
}

#assign_section{
    width: 98vw;
  max-width: 91.875rem;
}

select{
  background-color: #D6CA98;
  width: 25vw;
  border: none;
  font-size: var(--body-font);
  color: #655A7C;
}

.weekday_workout{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 98vw;
  max-width: 91.875rem;
  justify-content: space-evenly;
  text-align: center;
  font-size: var(--body-font);
 


}

.weekday_workout p{

  padding:1rem;
  background-color: #D6CA98;
  color: #655A7C;
  font-weight: 500;
 
  width: 50vw;



}

.weekday{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 98vw;
  max-width: 91.875rem;
 
}

.video_text{
 
  padding: 1rem;
  color: white;
  background-color: #D6CA98;
  width: 50vw;
  text-align: center;

  color: #655A7C;
  font-weight: 500;
}


.description_text{
 background-color: #D6CA98;
  padding: 1rem;
  color: white;
  width: 50vw;
  text-align: center;

  color:#655A7C;
  font-weight: 500;

}

@media (min-width: 930px) and (max-width: 1280px) {
  .create_send_workout_box,.chart_box{
    width: 25rem;
  
    height: 17rem;
  
    display: flex;
    justify-content: space-evenly;
    border: var(--border-width) solid #D6CA98;
    padding: 1rem;
  
  }
  
  .create_send_workout_box_left{
    width: 9.5rem;
  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  
  }
  
  .create_send_workout_box_right{
    width: 9.5rem;
  
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  
  }
}



@media (min-width: 300px ) and (max-width:929px) {
  :root {
    --title-font:1.5rem;
    --body-font: 1.2rem;
    --border-width:.3rem;
    --margin-html:3rem;
    --border-width:.2rem;
    --small_button_text:clamp(0.8rem, 0.705rem + 0.509vw, 1rem);
    --small_button_padding:.6rem;
    
    --margin-between:2.5rem;
  
    --box-font:1.25rem;
    
  }
  .create_send_workout_box,.chart_box{
    width: 15rem;
    width: 35rem;
    
    width: 15rem;
    width: clamp(15rem, 5.461rem + 50.874vw, 35rem);
    height: 17rem;
  
    display: flex;
    justify-content: space-evenly;
    border: var(--border-width) solid #D6CA98;
    padding: 1rem;
  
  }
  
  .create_send_workout_box_left{
    width: 7.5rem;
    width: clamp(7.5rem, 2.731rem + 25.437vw, 17.5rem);
  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  
  }
  
  .create_send_workout_box_right{
    width: 5rem;
    width: clamp(7.5rem, 2.731rem + 25.437vw, 17.5rem);
  
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  
  }


}